In [7]:
import numpy as np
import pandas as pd

## Test Case - Part 1

In [3]:
depths = np.array([199, 200, 208, 210, 200, 207, 240, 269, 260, 263])

change = (depths[1:] - depths[:-1]) > 0

change.sum()

7

## Part 1 Solution

In [5]:
depths = np.loadtxt('day1_input.txt')

change = (depths[1:] - depths[:-1]) > 0

change.sum()

1167

## Test Case - Part 2

In [45]:
depths = pd.Series(np.array([199, 200, 208, 210, 200, 207, 240, 269, 260, 263]))

In [46]:
depths_rolling = depths.rolling(window=3, min_periods=3).sum().values
depths_rolling

array([ nan,  nan, 607., 618., 618., 617., 647., 716., 769., 792.])

In [47]:
change = (depths_rolling[1:] - depths_rolling[:-1]) > 0

change.sum()

5

In [53]:
depths = pd.read_csv('day1_input.txt', header=None)

depths_rolling = depths.rolling(window=3, min_periods=3).sum().values[:, 0]

change = (depths_rolling[1:] - depths_rolling[:-1]) > 0

change.sum()

1130

In [51]:
change

array([False, False,  True, ...,  True,  True,  True])

In [52]:
depths

       130
0      142
1      148
2      147
3      157
4      160
...    ...
1994  2059
1995  2061
1996  2068
1997  2088
1998  2097

[1999 rows x 1 columns]